@import "tailwindcss";

@font-face {
    font-family: "alliance";
    src: url("/public/fonts/a-r.otf");
}
@font-face {
    font-family: "neu";
    src: url("/public/fonts/NeueMontreal-Regular.otf");
}

.hanken {
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 400;
}

.alliance {
    font-family: "alliance", sans-serif;
}
.neu {
    font-family: "neu", sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* text */
.heading {
    color: #1A5845;
    leading-trim: both;
    text-edge: cap;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    /* 140% */
}